.about-us{
    width: 100%;
    background: #EFF0F6;
    padding: auto;
    margin: 10% auto auto;
    box-sizing: border-box;
    overflow: hidden;

    .title{
        font-size: 3em;
        color: #4E4B66;
        font-weight: 700;
        width: 100%;
        text-align: center;
        margin-bottom: 3rem;

        padding-top: 40px;
    }

    .text{
        color: #808080;
        font-size: 1.125em;
        font-weight: 400;
        line-height: 36px;
        letter-spacing: 0em;
        text-align: left;
    }

    .about-us-content{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        margin: auto 20px;
        
        .about-us-image{
            width: 50%;
            min-height: 659px;
            

            svg{
                width: 100%;
                margin: 15% auto;
                height: 100%;
            }
        }

        .about-us-details{
            width: 45%;

            .our-mission,
            .about-swirge,
            .our-community{
                margin-bottom: 2rem;

                .title{
                    margin-bottom: 22px;
                    text-align: left;
                }

                .swirge-link{
                    color: #28B0DD;
                }
            }

            .community-buttons{
                width: 100%;
                display: flex;
                justify-content: flex-start;
                align-items: center;

                .cta-button{
                    // margin-right: 1rem;

                    &:last-child{
                        margin-right: 0;
                    }
                }
            }
        }

        @media screen and (max-width: 1055px){
            flex-direction: column;

            .about-us-image, .about-us-details{
                width: 100%;
                max-width: 700px;
                margin: auto;
            }

            .about-us-details{
                margin-top: 3rem;

                .our-mission,
                .about-swirge,
                .our-community{

                    .title, .text{
                        text-align: center;
                    }
                }

                .community-buttons{
                    justify-content: center;
                    flex-wrap: wrap;
                }
            }
        }

        @media screen and (max-width: 480px){
            margin: 30% auto auto;
            .about-us-details{

                .community-buttons{
                    justify-content: space-around;

                    .cta-button{
                        margin-right: 0;
                        margin-bottom: 1rem;
                    }
                }
            }
        }
    }
}