.appHeader {
  display: flex;
  justify-content: space-between;
  padding: 1.2rem 4rem;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: space-around;

  :first-child {
    margin-right: 0.5rem;
  }
}
