.cta-button{
    width: auto;
    height: auto;
    background: none;
    // margin-right: 1rem!important;
    a{
        display: block;
        color: #ffffff;
        font-weight: 700;
        height: 100%;
        width: 100%;
        outline: none;
        background: #28B0DD;    
        padding: .875rem 2rem;

        &.oval{
            border-radius: 32px;
        }
    
        &.rectangular{
            padding: .875rem 3rem;
            border-radius: 5px;
        }
    
        &:hover{
            box-shadow: 0px 24px 32px rgba(40, 176, 221, 0.16);
        }
    
        &:focus{
            background: #3886AA;
            box-shadow: 0px 24px 32px rgba(56, 134, 170, 0.16);
            border: none;
        }
    }

    &:focus{
        border: none;
        outline: none;
    }

}

.cta-submit{
    display: block;
    color: #ffffff;
    font-weight: 700;
    outline: none;
    background: #28B0DD;    
    padding: .875rem 2rem;
    cursor: pointer;

    &.oval{
        border-radius: 32px;
    }

    &.rectangular{
        padding: .875rem 3rem;
        border-radius: 5px;
    }

    &:hover{
        box-shadow: 0px 24px 32px rgba(40, 176, 221, 0.16);
    }

    &:focus{
        background: #3886AA;
        box-shadow: 0px 24px 32px rgba(56, 134, 170, 0.16);
        border: none;
    }
    
}