@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,400;1,300&display=swap");

*,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Mulish", sans-serif;
  color: #808080;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #4e4b66;
}

.btn-rounded {
  border-radius: 50%;
  background-color: #d9dbe9;
  display: flex;
  justify-content: center;
  padding: 1rem;
}
